<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902901197964-kieiaplgd1oq5n468in8pc31mu9ocnd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902901197964-kieiaplgd1oq5n468in8pc31mu9ocnd1</string>
	<key>API_KEY</key>
	<string>AIzaSyBHZKdCJazCbujYE9Fd3tOrI1FXkz9zPHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>902901197964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sim.mini-projet-sim</string>
	<key>PROJECT_ID</key>
	<string>slizzingbites-1608914464344</string>
	<key>STORAGE_BUCKET</key>
	<string>slizzingbites-1608914464344.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902901197964:ios:7b937656b3e079f6199fa9</string>
</dict>
</plist>